.container {
  width: 100%;
  height: 22%;
  position: relative;
  border-radius: 12px;
  background:  lightgray -17.549px 0px / 108.512% 100% no-repeat;;
}
.background {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.headline {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1% 3%;
  border-radius: 0px 0px 12px 12px;
  background: #3d2612;
  background-blend-mode: overlay;
  backdrop-filter: blur(41.01167297363281px);
  box-sizing: border-box;
}

.headline h5 {
  font-size: clamp(0.068125rem, -0.0002rem + 1.0938vw, 6.8359375rem);
  font-weight: 400;
  color: var(--White-white-50);
  margin-right:2% ;
}
.headline img {
  width: 5%;
  margin-right: 3%;
}

.live{
    width: 3% !important;
}

.min {
  width: 17.54%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5.35%;
  right: 2.10%;
  border-radius: 10px;
  background: rgba(61, 38, 18, 0.3);
  background-blend-mode: overlay;
  backdrop-filter: blur(25px);
}

.min span{
    font-size: clamp(0.058125rem, -0.0005rem + 0.9376vw, 5.859375rem);
    color: var(--White-white-600);
}
