.main_container {
  width: 100%;
  height: 12.05%;
  position: absolute;
  top: 84.72%;
  background: linear-gradient(270deg, #000 0%, rgb(0, 0, 0) 8%,rgb(124, 8, 8) 17%,rgb(72, 68, 68) 46%,
  rgb(165, 161, 161) 48%,rgb(40, 39, 39) 49%,rgb(107, 103, 103) 68%, rgb(43, 42, 42) 83%,rgb(39, 36, 36) 85%,rgb(6, 6, 6) 100%)

}
.asset {
  width: 7.03%;
  position: absolute;
  left: 4.53%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.asset_img_block {
  width: 80%;
  height: 80%;
}
.asset_img {
  width: 100%;
}
.content {
  width: 82.5%;
  height: 100%;
  position: absolute;
  left: 12.97%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.52%;
}
.content1 {
  width: 29.36%;
  height: 76.67%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.content1_block_1 {
  font-family: Poppins;
  font-weight: 500;
  color: var(--White-white-500, #fff);
  font-size: clamp(0.1171875rem, 0rem + 1.875vw, 11.71875rem);
}
.content2 {
  width: 2.94%;
  height: 76.67%;
  font-family: Poppins;
  font-weight: 500;
  color: var(--White-white-500, #fff);
  font-size: clamp(0.078125rem, 0rem + 1.25vw, 7.8125rem);
}
.content1_block_2 {
  display: flex;
  justify-content: space-between;
  font-family: Lato;
  font-size: clamp(0.078125rem, 0rem + 1.25vw, 7.8125rem);
}
.time {
  width: 100%;
  font-size: clamp(0.05859375rem, 0rem + 0.9375vw, 5.859375rem);
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_content {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  font-weight: 500;
  color: var(--White-white-500, #fff);
  font-size: clamp(0.1171875rem, 0rem + 1.875vw, 11.71875rem);
}
.espn_img_block {
  width: 25.71%;
  height: 80%;
}
.espn_img {
  width: 100%;
  height: 100%;
}
.last_content {
  width: 29.36%;
  height: 76.67%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom_text {
  font-style: italic;
  font-size: clamp(0.078125rem, 0rem + 1.25vw, 7.8125rem);
}
.light_text {
  font-family: Lato;
  color:grey;
}
