.container{
    width: 40%;
    height: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 16px;
}
.img{
    object-fit: cover;
    width: 75%;
}
.sub_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 7.14% 9.75%;
    background-color: grey;
    border-radius: 15px;
}
.sub_container_para{
    /* display: flex; */
    font-size: clamp(0.04875rem, -0.0001rem + 0.7813vw, 4.8828125rem);
    font-weight: 500;
}
.subtitle{
    font-size: clamp(0.04875rem, -0.0001rem + 0.7813vw, 4.8828125rem);
    color: var(--White-white-700);
}
.img_container{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.percentage{
    font-size: clamp(0.1171875rem, 0rem + 1.875vw, 11.71875rem);
    color: var(--Green-green-600);
}