.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 20%;
}

.right {
  width: 62%;
  height: 100%;
  display: flex;
  align-items: center;
}

.tabs_container {
  width: 63%;
  height: 100%;
  display: flex;
  align-items: center;
}

.date_time_container {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
}
.time {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
}

.time h3 {
  height: 40%;
  display: flex;
  align-items: center;
  font-size: clamp(0.116875rem, 0rem + 1.87vw, 11.6875rem);
  font-weight: 500;
  color: var(--White-white-600);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.time h6 {
  height: 40%;
  display: flex;
  align-items: center;
  font-size: clamp(0.078125rem, 0rem + 1.25vw, 7.8125rem);
  font-weight: 500;
  color: var(--White-white-600);
  box-sizing: border-box;
}

.profile {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile img {
  width: 65%;
}
