.mainContainer{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* outline: 1px solid red; */
}

.topContainer{
     width: 100%;
     height: 50%;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     /* outline: 1px solid orange; */
}

.showbackgroundImage{
     width: 100%;
     height: 100%;
     position: absolute;
}

.topNavbar{
    width:93%;
    height: 25%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    /* outline: 1px solid red; */
}

.navLeft{
    width: 40%;
    height: 70%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 6%;
    /* outline: 1px solid red; */
}

.navLeft>img{
    height: 60%;
    aspect-ratio: 1.5/1;
    cursor: pointer;
}

.navLeft>p{
    color: var(--White-white-500, #FFF);
    font-family: Poppins;
    font-size: clamp(0.15625rem, 0rem + 2.5vw, 15.625rem);
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 112.5% */
} 

.navRight{
     width: 30%;
     height: 75%;
     position: relative;
     display: flex;
     justify-content: space-around;
     align-items: center;
     /* outline: 1px solid orange; */
}

.dateandTime{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* outline: 1px solid orange; */
}

.dateandTime>p:nth-child(1){
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2.5%;
    color: var(--White-white-400, #FFF);
    font-family: Poppins;
    font-size: clamp(0.1171875rem, 0rem + 1.875vw, 11.71875rem);
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    /* outline: 1px solid rgb(32, 201, 26); */
}

.dateandTime>p:nth-child(1)>span:nth-child(3){
    color: var(--White-white-900, #6B6B6B);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.dateandTime>p:nth-child(2){
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--White-white-600, #E8E8E8);
    font-family: Poppins;
    font-size: clamp(0.078125rem, 0rem + 1.25vw, 7.8125rem);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* outline: 1px solid rgb(38, 148, 152); */
}

.navRight>img{
    height: 80%;
    aspect-ratio: 1/1;
}

.showInfoContainer{
    width:93%;
    height: 60%;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* outline: 1px solid red; */
}

.leftshowinfocontainer{
    width: 64%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* outline: 1px solid white; */
}

.showtimecontainer{
    width: 60%;
    height: 15%;
    position: relative;
    display: flex;
    gap: 3%;
    color: #FFF;
    font-family: Poppins;
    font-size: clamp(0.068375rem, 0rem + 1.094vw, 6.8375rem);
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* outline: 1px solid red; */
}

.showtimecontainer>p:nth-child(1){
    width: 30%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 3%;
    /* outline: 1px solid yellow; */
}

.showtimecontainer>p:nth-child(2){
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 3%;
    /* outline: 1px solid rgb(14, 107, 178); */
}

.showtimecontainer>p:nth-child(1)>span:nth-child(1),.showtimecontainer>p:nth-child(2)>span:nth-child(1){
    color: var(--Green-green-500, #4BB049);


}
.showName{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    color: var(--White-white-500, #FFF);
    font-family: Poppins;
    font-size: clamp(0.15625rem, 0rem + 2.5vw, 15.625rem);
    font-style: normal;
    font-weight: 500;
    line-height: 36px; 
    /* outline: 1px solid orange; */
}

.showdescribtion{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--White-white-700, #B5B5B5);
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: clamp(0.078125rem, 0rem + 1.25vw, 7.8125rem);
    font-style: normal;
    font-weight: 400;
    line-height:clamp(0.1171875rem, 0rem + 1.875vw, 11.71875rem);
    /* outline: 1px solid rgb(7, 211, 211); */
}

.showDetail{
    width: 40%;
    height: 15%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 3%;
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: clamp(0.05859375rem, 0rem + 0.9375vw, 5.859375rem);
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* outline: 1px solid rgb(48, 48, 190); */
}

.showDetail>span{
    width: fit-content;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.showDetail>span:nth-child(1){
    padding: 0 2%;
    border-radius:clamp(0.05859375rem, 0rem + 0.9375vw, 5.859375rem);
    border:0.64px solid rgba(255, 255, 255, 0.50);


}

.rightshowinfocontainer{
    width: 33%;
    height: 100%;
    position: relative;
    border-radius: clamp(0.1171875rem, 0rem + 1.875vw, 11.71875rem);
    /* outline: 1px solid white; */
}

.rightshowinfocontainer>img{
    width: 100%;
    height: 100%;
    border-radius: clamp(0.1171875rem, 0rem + 1.875vw, 11.71875rem);
}


.bottomContainer{
     width: 100%;
     height: 50%;
     position: relative;
     display: flex;
     justify-content: space-between;
     /* outline: 1px solid yellowgreen; */
}

.channelContainer{
    width:12%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* outline:1px solid red */
}

.channelDate{
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    /* outline: 1px solid orange; */
}

.channelDate>img:nth-child(1){
     height:70%;
     aspect-ratio: 1/1;
     /* outline: 1px solid red; */
}

.channelDate>p{
    width: fit-content;
    height: 60%;
    position: relative;
    display: flex;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: clamp(0.05859375rem, 0rem + 0.9375vw, 5.859375rem);
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}

.channelDate>img:nth-child(3){
     height:70%;
     aspect-ratio: 1/1;
     transform: rotate(180deg
     );
     /* outline: 1px solid red; */
}

.channelListContainer{
     width:100%;
     height:90%;
     position: relative;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     align-content: flex-start;
     flex-wrap: wrap;
     gap:4.7%;
     /* outline: 1px solid white; */
}

.channels{
   width: 100%;
   height: 30%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   /* outline: 1px solid red; */
}

.channels>img{
    width: 50%;
    height: 50%;
}
.channelInformationContainer{
    width: 87%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: hidden;
    /* outline: 1px solid rgb(171, 158, 158); */
}

.channelInformationContainer::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.timeMainContainer{
     width: 100%;
     height: 10%;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     align-content: flex-start;
     flex-wrap: wrap;
     /* outline: 1px solid red; */
}

.timeContainer{
    width: 15.93%;
    height: 60%;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: auto;
    /* outline: 1px solid salmon; */

}

.timeContainer>p{
    color: #FFF;
    font-family: Poppins;
    font-size: clamp(0.05859375rem, 0rem + 0.9375vw, 5.859375rem);
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.channelListInfoContainer{
     width: 100%;
     height: 90%;
     position: relative;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     align-content: flex-start;
     flex-wrap: wrap;
     gap:4.7%;
     /* outline: 1px solid green; */
}

.channelprogramcontainer{
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid red; */
}

.channelprogram{
    /* width: 15.93%; */
    height: 60%;
    position: relative;
    display: flex;
    margin: auto;
    /* outline: 1px solid orange; */
} 

.channelInformationContainer thead {
    height: 10%;
    display: flex;
}

.channelInformationContainer tbody{
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.channelInformationContainer thead tr{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.channelInformationContainer th{
    width: 7.965%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    color: #FFF;
    font-family: Poppins;
    font-size: clamp(0.05859375rem, 0rem + 0.9375vw, 5.859375rem);
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    /* border: 1px solid red; */
}

.channelInformationContainer th:nth-child(even){
    visibility: hidden;
}

.channelInformationContainer tbody tr{
    display: grid;
    height: 32%;
    grid-template-columns: repeat(96,7.965% ); 

}

.channelInformationContainer tbody td{
    height: 100%;
    display: table-cell;
    padding: 10px;
    background: inherit;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-bottom: 0;
}

.channelInformationContainer tbody td:hover{
    background-color: black;
    border-radius: 12px;
    border: 1px solid rgb(28, 211, 28);
}

.gridItem{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(36, 36, 36, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    border-radius: 12px;
    cursor: pointer;
    /* border: 1px solid white; */

}

.gridItem>p{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: clamp(0.078125rem, 0rem + 1.25vw, 7.8125rem);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.gridItem>img{
    height: 30%;
    aspect-ratio: 1/1;
    position:absolute;
    right: 2%;
    display: none;
    background: inherit;
}

.channelInformationContainer tbody td:hover .gridItem>img{
      display: block;
}