.bottom_container {
  width: 100%;
  height: 12.07%;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_container {
  width:20%;
  height: 45%;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 2%;
  gap: 8%;
}

.image{
  width: 20%;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid white;
}

.image:hover {
  background: rgb(255, 255, 255);
  transition: background-color 0.3s border-radius 0.3s ease;
}

.image:hover img:not(:nth-child(3)){
  filter: brightness(100%) invert(100%);
}

.image>img{
  width: 60%;
}

.nextarrow{
  transform: rotate(180deg);
}

.right_container {
  display: flex;
  right: 2%;
   width:20%;
  justify-content: space-between;
  align-items: center;
}

.container:hover .assets {
  transform: scale(1.1);
}

.logo_text {
  width: 6.41%;
  height: 11.39%;
  position: relative;
  left: 90.47%;
  top: 3.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_logo {
  position: absolute;
  right: 2%;
}


