:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --White-white-700: #B5B5B5;
  --White-white-600 :#E8E8E8;
  --White-white-50:#FFF;

}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: clamp(1rem, 0rem + 1.25vw, 3rem);
}

.leaflet-control-container .leaflet-top,
.leaflet-control-container .leaflet-bottom,
.leaflet-control-container .leaflet-right,
.leaflet-control-container .leaflet-left {
  display: none;
}

.leaflet-bottom.leaflet-right {
  display: none;
}

.fade-in-image {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
